Flask==0.10.1
Flask-Cors==2.1.2
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
json2html==1.0.1
keepalive==0.5
MarkupSafe==0.23
nltk==3.2.1
numpy==1.11.0
PyMySQL==0.7.2
pyparsing==2.1.1
rdflib==4.2.1
requests==2.9.1
sets==0.2.0
six==1.10.0
SPARQLWrapper==1.7.6
Werkzeug==0.11.5
